/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 8, 2024, 7:36:27 PM
    Author     : akram
*/
body{
    background: #F2F2F2;
    background-image: linear-gradient(#F4F4F4, #EEEEEE);
}
.author-txt{
    text-align: left !important;
}
.rtl-top-padding{
    padding-right: 50px;
}
.author{
    font-size: 18px;
    margin-top:10px;
    display: inline-block;
}
.ipower{
    font-size: 115px;
    text-align: right;
    margin-right: 50px;
}
.experience{
    font-size: 25px;
    text-align: right;
    margin-right: 50px;
}
.lucky-blue{
    margin-right: 50px;
}
.lang-sec{
    margin-left: 0px;
}

@media (max-width: 480px) {
    .rtl-top-padding{
        padding-right: 25px;
    }
    .ipower{
        font-size: 15px !important;
        margin-right: 20px;
        margin-top: 10px !important;
    }
    .experience{
        font-size: 10px !important;
        margin-right: 10px;
    }
    .lucky-blue{
        margin-right: 10px;
    }
    .author-txt{
        text-align: right !important;
        margin-right: 5px;
    }
    .image-angle-ar{
        height: 105px;
        width: 250px;
        margin-left: -45px;
    }
    .experience_ar{
        font-size: 12px !important;
    }
    .ipower_bottom{
        font-size: 25px !important;
    }
    
}
@media (max-width: 540px) {
    .experience_ar{
        font-size: 16px !important;
        text-align: left !important;
        margin-top: 25px !important;
    }
}
@media (max-width: 767px) {
    .ipower{
        margin-right: 10px;
        margin-top: 20px !important;
    }
    .experience{
        font-size: 1vw;
        margin-right: 10px;
    }
    .lucky-blue{
        margin-right: 10px;
    }
    .author-txt{
        text-align: center !important;
        margin-right: 0px;
    }
    .ipower_bottom{
        margin-top: 25px !important;
    }
    .lucky-blue-btm{
        font-size: 20px !important;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .ipower{
        font-size: 4vw;
    }
    .experience{
        font-size: 1vw;
    }
}
@media (max-width: 979px) {
    .ipower{
        font-size: 3vw;
        margin-top: 70px;
    }
}
@media (min-width: 980px) and (max-width: 1279px) {
    .ipower{
        font-size: 4vw;
    }
    .experience{
        font-size: 22px;
    }
}
@media (min-width: 1280px) {
    .ipower{
        font-size: 55px !important;
    }
    .experience{
        font-size: 25px;
    }
}
@media (min-width: 1480px){
    .experience{
        font-size: 22px !important;
    }
    .ipower{
        font-size: 100px;
    }
}
@media (min-width: 1669px){
    .ipower{
        font-size: 80px !important;
    }
    .experience{
        font-size: 25px !important;
    }
}