/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 8, 2024, 12:41:19 PM
    Author     : akram
*/
@font-face {
    font-family: 'DINNextLTPro-Bold';
    src: url('../fonts/DINNextLTPro-Bold.ttf');
}
@font-face {
    font-family: 'DINNextLTPro-Regular';
    src: url('../fonts/DINNextLTPro-Regular.ttf');
}
@font-face {
    font-family: 'GESSTwoBold';
    src: url('../fonts/GESSTwoBold.ttf');
}
@font-face {
    font-family: 'GESSTwoMedium';
    src: url('../fonts/GESSTwoMedium.ttf');
}
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.ttf');
}
@font-face {
    font-family: 'TitilliumWeb-SemiBold';
    src: url('../fonts/TitilliumWeb-SemiBold.ttf');
}
body{
    background: #F3F3F3;
    background-image: linear-gradient(#F3F3F3, #F3F3F3);
    overflow-x: hidden;
    /*    width: 90%;*/
    margin: 0 auto;
}
.DINNextLTPro-Bold {
    font-family: 'DINNextLTPro-Bold';
}
.DINNextLTPro-Regular{
    font-family: 'DINNextLTPro-Regular';
}
.GESSTwoBold{
    font-family: 'GESSTwoBold';
}
.GESSTwoMedium{
    font-family: 'GESSTwoMedium';
}
.MyriadPro-Regular{
    font-family: 'MyriadPro-Regular';
}
.TitilliumWeb-SemiBold{
    font-family: 'TitilliumWeb-SemiBold';
}
.header, .footer{
    background: url(../images/blue-bg.png) repeat;
    height: 145px;
    width: 100%;
    z-index: 1;
}
.site-footer{
    /*    position: fixed;
        bottom: 0;*/
    width: 100%;
}
.no-padding{
    padding: 0;
}
.img-angle-en{
    position: absolute;
    right: 0;
    top: 0
}
.img-angle-en-bottom{
    position: absolute;
    right: 0;
    bottom: 0
}
.anker-logo{
    margin-top: 10px;
}
.btn-custom{
    background: #ffffff;
    border-radius: 7px;
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
}
.bottom-link{
    margin-top: 48px
}
.bottom-link-img{
    height: 40px
}
.author{
    font-size: 18px;
    color: #fff;
    margin-top: 5px;
}
.ipower{
    color: #00BEFA;
    font-size: 115px;
    margin-left: 70px;
    margin-top: 150px;
    line-height: 110px;
}
.experience{
    color: #444;
    font-size: 40px;
    margin-left: 70px;
    margin-top: 20px;
    line-height: 40px;
}
.image-angle-en{
    width: 273px;
    height: 145px;
    background: url(../images/group-124720.png);
}
.image-angle-en-bottom{
    width: 273px;
    height: 145px;
    background: url(../images/group-124720.png);
}
.lang-txt{
    color: #fff;
    font-size: 21px;
}
.lang-pad{
    padding-top: 40px;
}
.lucky-blue{
    margin-left: 70px;
    margin-top: 90px;
    background: #00BEFA;
    border-color:#00BEFA;
}
.vertical-line{
    height: 40px;
    display: inline !important;
}
.author-txt{
    text-align: right !important;
    margin-right: -50px;
}
.lang-sec{
    margin-left: 80px;
}
.image-angle-ar{
    width: 273px;
    height: 145px;
    background: url(../images/group-124719.png);
}
.image-angle-ar-bottom{
    width: 273px;
    height: 145px;
    background: url(../images/group-124719.png);
}
.btn-sec{
    margin-left: 70px;
}
text{
    font-size: 15px;
    font-family: 'DINNextLTPro-Bold';
}
.lucky-draw-box{
    display: block;
    text-align: center;
    min-height: 620px;
    margin: 0 auto
}
.draw-title{
    color: #00BEFA;
    margin-bottom: 25px;
    font-size: 50px;
    text-align: center;
}
.claim-gift{
    display: block;
    min-height: 620px;
    padding: 10px;
    margin: 0 auto
}
.wheel-wrapper {
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.theme-bg{
    background: #00BEFA;
    border-color: #00BEFA;
}
.bottom-margin-top{
/*    margin-top: 45px;*/
}
@media (max-width: 345px) {
    .ipower{
        font-size: 22px !important;
    }
    .site-footer{
/*        position: fixed;*/
        bottom: 0;
    }
    .wheel-wrapper{
        width: 300px !important;
        height: 300px !important;
        margin: 0 auto;
    }
}
@media (max-width: 360px) {
    .wheel-wrapper{
        width: 350px !important;
        height: 350px !important;
        margin: 0 auto;
    }
}
@media (max-width: 430px) {
    .btn-sec{
        margin-left: 5px !important;
    }
}
@media (max-width: 480px) {
    .logo{
        width: 100px;
        margin-top:20px !important;
        margin-left:5px;
    }
    .ipower{
        line-height: normal;
        margin-top: 20px;
        margin-left: 10px;
        font-size: 24px !important;
    }
    .experience{
        line-height: normal;
        margin-top: 0px !important;
        margin-left: 10px;
        font-size: 10px !important;
    }
    .lucky-blue{
        margin-top: 0px !important;
        margin-left: 10px;
        font-size: 9px !important;
    }
    .btn-custom{
        margin-bottom: 10px;
    }
    .footer{
        height: auto;
        padding-right: 5px;
    }
    .author-txt{
        text-align: center !important;
    }
    .btn-sec{
        margin-left: 0px;
        text-align: center !important;
    }
    .vertical-line{
        height: 20px;
    }
    .heading-xs{
        width: 120px;
        margin-left: 5px;
        margin-top: 5px;
    }
    .lang-txt{
        font-size: 12px;
    }
    .site-footer{
/*        position: fixed;
        bottom: 0;*/
    }
    .header{
        height: 105px;
    }
    .image-angle-en{
        height: 105px;
        width: 230px;
    }
    .bottom-link-img{
        height: 20px !important;
    }
    .no-padding-right{
        padding-right: 0px;
    }
    .wheel-wrapper{
        width: 400px;
        height: 400px;
        margin: 0 auto;
    }
}
@media (max-width: 540px) {
    .header{
        height: 105px;
        overflow: hidden;
    }
    .footer{
        min-height: 105px !important;
    }
    .btn-sec{
        margin-left: 23px;
    }
    .bottom-link-img{
        height: 25px !important;
    }
    .image-angle-ar{
        height: 105px;
        width: 250px;
        margin-left: -45px !important;
    }
    .wheel-wrapper{
        width: 500px !important;
        height: 500px !important;
        margin: 0 auto;
    }
}
@media (max-width: 767px) {
    .logo{
        width: 120px;
        margin-top:10px;
        margin-left: 15px;
    }
    .ipower{
        line-height: normal;
        margin-top: 20px;
        margin-left: 10px;
        font-size: 35px;
    }
    .experience{
        line-height: normal;
        margin-top: 10px;
        margin-left: 10px;
        font-size: 12px;
    }
    .lucky-blue{
        margin-top: 20px;
        margin-left: 10px;
        font-size: 10px;
    }
    .btn-custom{
        margin-bottom: 10px;
    }
    .footer{
        height: auto;
    }
    .author-txt{
        text-align: center !important;
        margin-right: 0;
        margin-bottom: 5px;
    }
    .vertical-line{
        height: 20px;
    }
    .heading-xs{
        width: 128px;
        margin-left: 15px;
        margin-top: 10px;
    }
    .lang-txt{
        font-size: 18px;
    }
    .site-footer{
/*        position: fixed;
        bottom: 0;*/
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .ipower{
        line-height: normal;
        margin-top: 70px;
        margin-left: 70px;
        font-size: 40px;
    }
    .experience{
        line-height: normal;
        margin-top: 10px;
        margin-left: 70px;
        font-size: 15px;
    }
    .lucky-blue{
        margin-top: 70px;
        margin-left: 70px;
        font-size: 12px;
    }
    .footer{
        height: auto;
    }
    .btn-custom{
        margin-bottom: 10px;
    }
    .bottom-link-img{
        height: 20px !important;
    }
    .bottom-link{
        margin-top: 25px;
    }
    .site-footer{
        position: fixed;
        bottom: 0;
    }
    .header{
        height: 125px;
    }
    .footer{
        height: 125px;
    }
    .btn-sec{
        text-align: center !important;
    }
    .wheel-wrapper{
        width: 500px;
        height: 500px;
        margin: 0 auto;
    }
    .image-angle-en{
        height: 125px;
        width: 230px;
    }
}

@media (max-width: 979px) {
    .bottom-link-img{
        height: 28px;
    }
    .bottom-link{
        margin-top: 10px;
    }
}

@media (min-width: 980px) and (max-width: 1279px) {
    .ipower{
        line-height: normal;
        margin-top: 110px;
        margin-left: 70px;
        font-size: 62px;
    }
    .experience{
        line-height: normal;
        margin-top: 10px;
        margin-left: 70px;
        font-size: 22px;
    }
    .lucky-blue{
        margin-top: 60px;
        margin-left: 70px;
    }
    .footer{
        height: auto;
    }
    .btn-custom{
        margin-bottom: 10px;
    }
    .bottom-link-img{
        height: 28px;
    }
    .bottom-link{
        margin-top: 25px;
    }
}

@media (min-width: 1280px) {
    .ipower{
        line-height: normal;
        font-size: 80px;
    }
    .btn-custom{
        margin-bottom: 10px;
    }
    .bottom-link-img{
        height: 22px;
    }
    .bottom-link{
        margin-top: 55px;
    }
    .experience{
        font-size: 30px;
    }
}

@media (min-width: 1480px){
    .ipower{
        line-height: normal;
        font-size: 100px;
    }
    .bottom-link-img{
        height: 28px;
    }
}

@media (min-width: 1669px){
    .bottom-link-img{
        height: 36px;
    }
    .ipower{
        line-height: normal;
        font-size: 125px;
    }
}